.category{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;


  &__choice{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin-top: 20px;
    margin-bottom: 10%;

    @include tablet {
      width: 100%;
    }

    @include desktop {
      width: 80%;
    }
  }

  &__tag{
    width: 118px;
    height: 52px;
    border: 1px solid $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;

    @include desktop{
      &:hover{
        background-color: $main-color;
        color: #ffffff;
      }
    }

    &:active{
      background-color: $main-color;
      color: #ffffff;
    }
  }

  &__contain{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20%;
    margin-left: 20px;


    @include tablet {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__pic{
    width: 45%;  
    object-fit: contain;
    margin-right: 20px;
  }
}

.rectangle{
  position: absolute;
  z-index: -1;
  left: 0;
  top: -40px;
  width: 80%;

  @include tablet{
    width: 80%;
  }

  @include mobile{
    display: none;
  }
}
