@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '../style/variable.scss';
@import '../style/mixin.scss';
@import '../style/header.scss';
@import '../style/head.scss';
@import '../style/reset.scss';
@import '../style/nav.scss';


p, li{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

hr{
  margin-top: -10px;
  width: 20%;
}
