@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '../style/variable.scss';
@import '../style/mixin.scss';
@import '../style/header.scss';
@import '../style/nav.scss';
@import '../style/head.scss';
@import '../style/exhibitor.scss';
@import '../style/category.scss';
@import '../style/footer.scss';
@import '../style/reset.scss';



@include mobile{
  section{
    margin-bottom: 20px;
  }
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}


p, li{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

// hr{
//   margin-top: -10px;
//   width: 20%;
// }

.mainTitle{
  position: relative;
  z-index: 2;
  margin-top: 5%;
  margin-bottom: 5%;
}

.mainTitle__title{
  font-size: $main-title;
}

.mainTitle__circle{
  position: absolute;
  z-index: -1;
  left: -50px;
  top: -25px;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: $squareShape-color;
}